@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
@import "@financial-tracker-sea/ui/globals.css";

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}
